.main__aboutme{
    display: flex;
    position: relative;
    height: 100vh; 
    width: 100%;
    max-width: 3100px;
    justify-content: center;
    align-items: center;
}


.main__aboutme-information{
    margin: auto;
    display: flex;
    position: relative;
    height: 70%;
    max-height: 300px;
    max-width: 600px;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: -2rem;
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--shadow);
    border: 1px solid var(--shadow);
    padding: 3rem 0 2rem 0;
}

.main__aboutme-information.dark{
    background: var(--dark);
}
.main__aboutme-information.light{
    background: var(--light);
}

.main__aboutme-information::after{
    position: absolute;
    width:100%;
    height:100%;
    background: var(--rgb45);
    top:0;
    content: ' ';
    filter: blur(6px);
    z-index:-1
}


.main__aboutme-information h1{
    display:flex;
    font-size: 4rem;
    font-weight: 500;
    opacity: .8;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:15%;
    text-align: center;
}

.main__aboutme-information h3{
    width: 90%;
    text-align: justify;
    height: 60%;
    font-size: 2rem;
    font-weight: 300;
}

.main__aboutme-information p{
    font-size: 1.5rem;
    opacity: .7;
}

@media (max-width: 800px){
    .main__aboutme-information h1{
        font-size: 2.8rem;
    }
    
    .main__aboutme-information h3{
        font-size: 1.5rem;
        width: 95%;
    }
    
    .main__aboutme-information p{
        font-size: 1.3rem;
    }
}
@media (max-width: 450px){
    .main__aboutme-information h1{
        font-size: 2rem;
    }
    .main__aboutme-information h3{
        font-size: 1.3rem;
    }
    
    .main__aboutme-information p{
        font-size: 1rem;
    }
}