.main__contact{
    display: flex;
    position: relative;
    height: 100vh; 
    width: 100%;
    max-width: 3100px;
    justify-content: center;
    align-items: center;
}

.main__contact-content{
    margin: auto;
    display: flex;
    position: relative;
    height:auto;
    max-height: 600px;
    max-width: 300px;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 1px 4px var(--shadow);
    border: 1px solid var(--shadow);
    padding: 3rem 0 2rem 0;
}

.main__contact-content.light{
    background: var(--light);
}

.main__contact-content.dark{
    background: var(--dark);
}

.main__contact-content::after{
    position: absolute;
    width:100%;
    height:100%;
    background: var(--rgb45);
    top:0;
    content: ' ';
    filter: blur(6px);
    z-index:-1
}

.main__contact-content h2{
    font-size: 3rem;
    font-weight: 400;
    opacity: .8;
    text-align: center;
    bottom: 10rem;
}

.main__contact-content form {
    position: relative;
    display: grid;
    padding: 1rem;
    gap: 1rem;
}

.main__contact-content form p{
    font-size: 1.2rem;
    opacity: .9;
    text-align: center;
    background: var(--rgb-lite);
    border-radius: 3px;
    color: var(--dark)
}

.text{
    height: 2.5rem;
}

.textarea{
    resize: none;
}

.text, .textarea ,.submit{
    border-radius: 3px;
    border: none;
    background:  none;
    outline: none;
    text-align: center;
}
.text::placeholder, .textarea::placeholder{
   font-size: 1.5rem;
}

.text.light ,.textarea.light{
    box-shadow: 2px 2px 5px var(--shadow-light1),
    1px 1px 2px var(--shadow-light2);
    border: .5px solid var(--shadow);
}

.text.dark ,.textarea.dark{
    box-shadow: 2px 2px 5px var(--shadow-dark1),
    1px 1px 2px var(--shadow-dark2);
    border: .5px solid var(--shadow);
}

.submit{
    border: .5px solid var(--shadow);
    background: var(--rgb-lite);
    font-size: 1.8rem;
    color: var(--dark);
}

.submit.light{
    box-shadow: 5px 5px 10px var(--shadow-light1);
}
.submit.dark{
    box-shadow: 5px 5px 10px var(--shadow-dark1);
}

.submit:active {
    box-shadow: none;
}



