main.dark{
    background: var(--dark);
}

main.light {
    background: var(--light);
}

main{
    display: flex;
    padding: 1rem;
    max-width: 3100px;
}

main *{
    font-family: 'Raleway', sans-serif;
}