.main__skills{
    display: flex;
    position: relative;
    height: auto;
    min-height: 100vh; 
    width: 100%;
    max-width: 3100px;
    justify-content: center;
    align-items: center;
}

.main__skills-information{
    margin: auto;
    display: flex;
    position: relative;
    height: 90%;
    width: 90%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main__skills-information.dark{
    background: var(--dark);
}
.main__skills-information.light{
    background: var(--light);
}

.main__skills-title{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main__skills-title h2{
    font-size: 5rem;
    font-weight: 400;
    opacity: .8;
    text-align: center;
    bottom: 10rem;
}

.main__skills-cards{
    position:relative;
    display: grid;
    width:60%;
    height: 80%;
    gap: 3rem;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    grid-template-rows: repeat(13rem);
    grid-template-columns: repeat(auto-fill,13rem);
    grid-auto-flow: row dense;
}
